* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    margin: 0 !important;
    padding: 0 !important;
}

li {
    text-decoration: none;
    margin: 0 !important;
    padding: 0 !important;
}

.LoadingDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.2);
}

/*NAVBAR Sekmesi CSS*/
.NavbarDiv {
    width: 100%;
    height: 60px;
    background-color: rgba(245, 194, 29, 0.822);
    display: flex;
    justify-content: space-between;
    z-index: 999999;
    position: fixed;
}

.NavbarHeader {
    width: 7%;
    color: white;
    display: inline-block !important;
}

.NavbarPages {
    width: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.NavbarInput {
    padding-right: 20px;
    width: 30%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.NavbarButton,
.NavbarButtonHome {
    border: none !important;
    background-color: rgba(244, 196, 85, 0);
    color: rgba(255, 255, 255, 0.651);
    width: 150px;
    height: 40px;
}

.NavbarButton:hover {
    border-radius: 5px;
    transition: .5s;
    background-color: rgba(17, 62, 104, 0.425);
    color: rgb(255, 255, 255);
}

/*SEARCH BAR CSS*/
.SearchbarDiv {
    width: 370px;
    height: 50px;
    line-height: 50px;
    margin: 5% auto;
}

.SearchbarDiv input[type="text"] {
    width: 100%;
    /*220px*/
    height: 35px;
    border-radius: 5px;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.11);
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.5);
    color: #ffffffd0;
    padding: 10px;
    /* transition: width .4s ease-in-out;*/
}

.SearchbarDiv input[type="text"]::placeholder {
    color: #ffffffb0;
}

.SearchbarDiv input[type="text"]:focus {
    outline: none;
    width: 100%;
}

/* .SearchbarDiv input[type="text"]:not(:focus) .autoCompleteItems{
display: none;
} */

.autoComplete {
    width: 100%;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

.autoCompleteItems {
    border-bottom: 1px solid #e6e6e6;
    cursor: pointer;
    color: rgba(17, 62, 104, 0.678);
    font-weight: bold;
}

.SearchItemButton {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    color: rgba(17, 62, 104, 0.678);
    font-weight: bold;
    border: none;
}

.SearchItemButton:hover {
    transition: .5s;
    background-color: #f1f1f1b2;
    color: rgba(17, 62, 104, 0.911)
}

.SearchItemImage {
    flex-basis: 36%;
}

.SearchItemImage img {
    display: flex;
    justify-content: center;
    width: 85%;
    height: 80px;
    object-fit: contain;
}

.SearchItemName {
    text-align: start;
    flex-basis: 55%;
    padding-right: 5px;
}

/*FOOTER CSS*/
.FooterDiv {
    width: 100%;
    height: auto;
    background-color: rgba(17, 62, 104, 0.884);
    display: flex;
    justify-content: space-between;
}

.SocialMedia {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon {
    font-size: 30px !important;
    margin-right: 40px !important;
}

.Copyright {
    display: flex;
    align-items: flex-end;
}

/*SIGNUP/SİGNIN/PasswordReset Sekmesi CSS'LERİ*/

.kayitOlDiv,
.girisYapDiv,
.parolaSifirlaDiv,
.NewPasswordDiv,
.RestaurantkayitOlDiv {
    padding-top: 90px;
    display: flex;
    justify-content: center;
    background-image: url(https://tailwindui.com/img/beams-cover@95.jpg) !important;
    height: 100vh;
}

.kayıtOlForm,
.girisYapForm,
.parolaSifirlaForm,
.RestaurantkayıtOlForm,
.NewPasswordForm {
    width: 450px;
    height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.kayitYapInput,
.girisYapInput,
.parolaSifirInput,
.RestaurantkayitYapInput {
    width: 100%;
    margin-top: 30px !important;
}


.kayitYapLabel {
    padding: 0 50px;
    padding-top: 10px;
    width: 100%;
    display: flex !important;
    justify-content: space-between;
}


.kayitYapRolCheck {
    margin-right: 10px;
}

.kayitYapButton,
.girisYapButton,
.parolaSifirButton,
.IletisimButton,
.RestaurantkayitYapButton {
    width: 100%;
    height: 40px;
    margin-top: 35px;
    margin-bottom: 10px;
    color: white;
    background-color: rgba(44, 83, 122, 0.829);
    border: 1px solid rgba(44, 83, 122, 0.829);
}

.kayitYapButton:hover,
.girisYapButton:hover,
.parolaSifirButton:hover,
.IletisimButton:hover,
.RestaurantkayitYapButton:hover {
    transition: .5s;
    background-color: rgba(44, 83, 122, 0.699);
}

.kayitYapGirisYapDon,
.girisYapPunuttum,
.girisYapKayıtol,
.girisYapAnasayfa,
.parolaSifirGirisyap,
.RestaurantkayitYapGirisYapDon {
    border: none !important;
    background-color: white;
    color: rgba(44, 83, 122, 0.829);
    font-weight: bold;
}

.kayitYapGirisYapDon:hover,
.girisYapPunuttum:hover,
.girisYapKayıtol:hover,
.girisYapAnasayfa:hover,
.parolaSifirGirisyap:hover,
.RestaurantkayitYapGirisYapDon:hover {
    transition: .5s;
    color: rgba(44, 83, 122, 0.548);
}

/*Restaurant Registration CSS*/

.RestaurantRegistredFileButton {
    width: 250px !important;
    color: green;
}

.RestaurantkayıtOlForm input[type="file"]::file-selector-button {
    margin: 15px 5px 15px 0px;
    background-color: rgba(44, 83, 122, 0.829);
    width: 130px;
}

.RestaurantkayıtOlForm input[type=file]::file-selector-button:hover {
    transition: .9s;
    background-color: rgba(44, 83, 122, 0.616);
    cursor: pointer;
}

/*HAKKIMIZDA SAYFASI CSS*/

.HakkimizdaDiv {
    width: 100% !important;
    height: 100vh !important;
}

.HakkimizdaBody {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
}

.HakkimizdaUst {
    width: 1000px;
    height: 30%;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.HakkimizdaOrta {
    width: 900px;
    height: 30%;
    margin-bottom: 100px;
    display: flex;
    justify-content: space-between;
}

.HakkimizdaOrta ul {
    list-style: outside;
}

.HakkimizdaAlt {
    height: 30%;
    margin-bottom: 30px;
}

.HakkimizdaSikcaSorularDiv {
    width: 800px !important;
    height: 450px !important;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.HakkimizdaSikcaSorularTextarea {
    width: 90% !important;
    height: 90% !important;
}

.HakkimizdaSikcaSorular {
    background-color: rgba(231, 231, 231, 0.801) !important;
}

.HakkimizdaSikcaSorular:hover {
    transition: .5s;
    background-color: rgba(231, 231, 231, 0.623) !important;
}

.HakkimizdaSikcaSorularText {
    color: rgb(0, 0, 0);
    background-color: rgba(209, 209, 209, 0.801) !important;
}

/*Iletisim CSS Sayfası*/
.IletisimDiv {
    width: 100% !important;
    height: 93vh !important;
}

.FormDiv {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 60px;
    padding-left: 50px;
}

.IletisimForm {
    width: 550px;
    height: 700px;
    display: flex;
    flex-direction: column;

}

.IletisimInput {
    width: 100%;
    margin-top: 30px !important;
}

/*ANASAYFA CSS SEKMESİ*/

.Blog {
    width: 100%;
    height: 100vh;
    background-image: url(https://tailwindui.com/img/beams-cover@95.jpg);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.BlogHeaderDiv {
    padding-top: 80px;

}



.BlogAltHeaderDiv {
    width: 90%;
    height: 200px;
    display: flex !important;
    justify-content: space-around !important;
}

.BlogAltHeaderDiv button {
    border: none !important;
    background-color: rgba(255, 255, 255, 0);
    display: flex !important;
}

.BlogAltHeaderDiv button:hover {
    transition: .5s;
    background-color: rgba(65, 120, 221, 0.226);
}

.BlogAltHeaderDiv img {
    object-fit: cover;
    object-position: 50% 15%;
    width: 200px;
    height: 200px;
}

.AltHeaderPost {
    display: flex;
    flex-direction: column;
    margin-right: 50px;
}


/*RESTAURANTLAR CSS SEKMESİ*/


.RestaurantlarDiv {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(https://tailwindui.com/img/beams-cover@95.jpg);
}

.RestaurantlarHeader {
    padding-top: 80px !important;
    color: rgba(44, 83, 122, 0.829);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.RestaurantFiltrelemeButton {
    border: none;
    background-color: rgba(44, 83, 122, 0.829);
    color: rgba(235, 235, 235, 0.767);
    width: 190px;
    height: 40px;
    font-weight: bold;
    margin-top: 30px;
}

.RestaurantFiltrelemeButton:hover {
    transition: .6s;
    background-color: rgba(44, 83, 122, 0.719);
    color: white;
}

.RestaurantlarBody {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    width: 1400px;
    height: auto;
    line-height: 50px;
    background-color: rgba(255, 255, 255, 0.233);
    margin-top: 50px;
    border-radius: 3px;
}

.RestaurantStateDiv {
    margin: 20px;
    padding: 15px;
    border: 2px solid rgba(235, 235, 235, 0.322);
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.829);
    height: auto;

}
.RestaurantStateDiv:hover{
    transition: .3s ease-in-out;
    cursor: pointer;
    background-color:rgba(235, 235, 235, 0.322) ;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.5);
}
.RestaurantImg {
    width: 250px;
    height: 330px;
    line-height: 330px;
    border-radius: 5px;
}

.RestaurantImg img {
    width: 100%;
    height: auto;
    text-align: center;
    border-radius: 5px;
}

.RestaurantTitle {
    font-size: 20px;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.938);
    text-align: center;
    margin-bottom: 10px;
}

.RestaurantButton button {
    width: 100%;
    line-height: 30px;
    border: none;
    background-color: rgba(44, 83, 122, 0.829);
    color: rgba(209, 209, 209, 0.801);
    font-weight: bold;
    border-radius: 3px;
}

.RestaurantButton button:hover {
    transition: .5s;
    background-color: rgba(44, 83, 122, 0.616);
    color: rgb(255, 255, 255);
}


.FiltrelemeModal {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.2);
}

.FiltrelemeModalPost {
    display: flex;
    justify-content: center;
    padding: 20px;
    width: 40%;
    height: 60%;
    background-color: rgb(65, 65, 65);
}

.FiltreModalDiv {
    width: 100%;
}

.FiltreModalHeader {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.FiltreModalHeader p {
    font-weight: bold;
    font-size: 20px;
    color: white;
}

.FiltreModalButton {
    width: 30px;
    height: 30px;
    border: none;
    color: black;
    font-weight: bold;
    border-radius: 3px;
}

.FiltreModalButton:hover {
    transition: .2s ease-in-out;
    background-color: rgba(255, 255, 255, 0.712);
}

.FiltreModalContainer {
    color: white;
}

.FiltreModalFooter {}

.FiltreModalFooterButton {
    width: 150px;
    height: 30px;
    line-height: 30px;
    background-color: white;
    color: black;
    border-radius: 5px;
    border: none;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.466);
}

.FiltreModalFooterButton:hover {
    transition: .2s ease-in-out;
    background-color: rgba(255, 255, 255, 0.747);
}

/*MY RESTAURANT CSS*/

.MyRestaurantDiv {
    width: 100%;
    height: auto;
    background-image: url(https://tailwindui.com/img/beams-cover@95.jpg) !important;

}

.MyRestaurantBody {
    width: 100%;
    height: auto;
    padding-top: 90px;
}

.MyRestaurantHeader {
    display: flex;
    justify-content: space-between;
    padding: 0 10px 0 10px;
}

.MyRestaurantHeader p {
    font-size: 20px;
    font-Weight: bold;
    font-family: cursive;
}

.MyRestaurantHeaderButton {
    border: none;
    background-color: rgba(44, 83, 122, 0.829);
    ;
    border-radius: 5px;
    padding: 10px;
}

.MyRestaurantHeaderButton:hover {
    transition: .5s;
    background-color: rgba(44, 83, 122, 0.616);
}

.MyRestaurantContainer {
    width: 90%;
    height: auto;
    display: flex;
    justify-content: center;
    text-align: center;
}


.MyRestaurantMenu {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    width: 80%;
    height: auto;
}

/*RESTAURANT MENU CSS*/

.RestaurantMenuDiv {

    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(https://tailwindui.com/img/beams-cover@95.jpg);
}

.RestaurantMenuHeader {
    padding-top: 80px !important;
}

.RestaurantMenuBody {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.RestaurantMenuInput {
    width: 350px;
    margin-top: 20px !important;
}

.RestaurantMenuFileButton {
    width: 250px !important;
    color: green;
}

.RestaurantMenuBody input[type="file"]::file-selector-button {
    margin: 15px 5px 15px 0px;
    background-color: rgba(44, 83, 122, 0.829);
    width: 130px;
}

.RestaurantMenuBody input[type=file]::file-selector-button:hover {
    transition: .9s;
    background-color: rgba(44, 83, 122, 0.616);
    cursor: pointer;
}

.RestaurantMenuSubmitButton {
    background-color: rgba(44, 122, 70, 0.829);
    width: 130px;
}

.RestaurantMenuSubmitButton:hover {
    transition: .9s;
    background-color: rgba(44, 122, 70, 0.582);
}

/*RESTAURANT Menu STATE*/
.RestaurantMenuStateDiv {
    width: 210px;
    height: auto;
    margin: 20px;
    padding: 15px;
    border: 2px solid rgba(44, 83, 122, 0.829);
    border-radius: 5px;
    background-color: rgba(44, 83, 122, 0.829);
    box-shadow: 4px 4px 4px rgba(139, 139, 139, 0.74);
}

.RestaurantMenuStateImg {
    width: 120px;
    height: 120px;
    background-position: center;
}

.RestaurantMenuStateImg img {
    width: 120px;
    height: 120px;
    object-fit: cover !important;
}

.RestaurantMenuStateTitle {
    font-size: 15px;
}

.RestaurantMenuStateFiyat {
    color: rgb(46, 46, 46);
    font-size: 15px;
}

.RestaurantMenuStatePut {
    width: 100%;
    height: 32px;
    line-height: 35px;
}

.MenuButton {
    width: 120px;
    height: 30px;
    line-height: 30px;
    color: white;
    background-color: rgb(28, 156, 28);
    border: none;
    box-shadow: 1px 1px 1px 1px rgba(19, 131, 19, 0.719);
}

.MenuButton:hover {
    transition: .5s ease-in-out;
    background-color: rgba(28, 156, 28, 0.575);
}

/*RESTAURANT VİEW CSS */

.RestaurantViewDiv {
    width: 99vw !important;
    height: auto;
    background-image: url(https://tailwindui.com/img/beams-cover@95.jpg) !important;

}

.RestaurantViewContainer {
    width: 100%;
    height: 100%;
    padding: 80px 0px 0px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.RestaurantViewHeader {
    font-size: 40px;
    font-family: cursive;
}

.RestaurantViewBody {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.RestaurantViewBodySol {
    margin: 10px;
    padding: 10px;
    background-color: rgba(92, 92, 168, 0.589);
}

.RestaurantViewBodySag {
    margin: 10px;
    padding: 10px;
    background-color: rgba(179, 79, 79, 0.555);
}

.RestaurantViewMenu {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

}

.RestaurantViewStateDiv {
    margin: 20px;
    padding: 15px;
    border: 2px solid rgba(44, 83, 122, 0.829);
    border-radius: 5px;
    background-color: rgba(44, 83, 122, 0.829);
    box-shadow: 4px 4px 4px rgba(139, 139, 139, 0.74);
}

.RestaurantViewStateImg {
    width: 150px;
    height: 180px;
}

.RestaurantViewStateImg img {
    width: 100%;
    height: 100%;
}