* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    margin: 0 !important;
    padding: 0 !important;
}

li {
    text-decoration: none;
    margin: 0 !important;
    padding: 0 !important;
}

.LoadingDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.2);
}

/*NAVBAR Sekmesi CSS*/
.NavbarDiv {
    width: 100%;
    height: 60px;
    background-color: rgba(17, 62, 104, 0.884);
    display: flex;
    justify-content: space-between;
    z-index: 999999;
    position: fixed;
}

.NavbarHeader {
    width: 7%;
    color: white;
    display: inline-block !important;
}

.NavbarPages {
    width: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.NavbarInput {
    padding-right: 20px;
    width: 30%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.NavbarButton,
.NavbarButtonHome {
    border: none !important;
    background-color: rgba(244, 196, 85, 0);
    color: rgba(255, 255, 255, 0.651);
    width: 150px;
    height: 40px;
}

.NavbarButton:hover {
    border-radius: 5px;
    transition: .5s;
    background-color: rgba(17, 62, 104, 0.425);
    color: rgb(255, 255, 255);
}

/*FOOTER CSS*/
.FooterDiv {
    width: 100%;
    height: auto;
    background-color: rgba(17, 62, 104, 0.884);
    display: flex;
    justify-content: space-between;
    position: relative !important;
    bottom: 0 !important;
}

.SocialMedia {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon {
    font-size: 30px !important;
    margin-right: 40px !important;
}

.Copyright {
    display: flex;
    align-items: flex-end;
}

/*SIGNUP/SİGNIN/PasswordReset Sekmesi CSS'LERİ*/

.kayitOlDiv,
.girisYapDiv,
.parolaSifirlaDiv,
.NewPasswordDiv,
.RestaurantkayitOlDiv {
    padding-top: 90px;
    display: flex;
    justify-content: center;
    background-image: url(https://tailwindui.com/img/beams-cover@95.jpg) !important;
    height: 100vh;
}

.kayıtOlForm,
.girisYapForm,
.parolaSifirlaForm,
.RestaurantkayıtOlForm,
.NewPasswordForm {
    width: 450px;
    height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.kayitYapInput,
.girisYapInput,
.parolaSifirInput,
.RestaurantkayitYapInput {
    width: 100%;
    margin-top: 30px !important;
}


.kayitYapLabel {
    padding: 0 50px;
    padding-top: 10px;
    width: 100%;
    display: flex !important;
    justify-content: space-between;
}


.kayitYapRolCheck {
    margin-right: 10px;
}

.kayitYapButton,
.girisYapButton,
.parolaSifirButton,
.IletisimButton,
.RestaurantkayitYapButton {
    width: 100%;
    height: 40px;
    margin-top: 35px;
    margin-bottom: 10px;
    color: white;
    background-color: rgba(44, 83, 122, 0.829);
    border: 1px solid rgba(44, 83, 122, 0.829);
}

.kayitYapButton:hover,
.girisYapButton:hover,
.parolaSifirButton:hover,
.IletisimButton:hover,
.RestaurantkayitYapButton:hover {
    transition: .5s;
    background-color: rgba(44, 83, 122, 0.699);
}

.kayitYapGirisYapDon,
.girisYapPunuttum,
.girisYapKayıtol,
.girisYapAnasayfa,
.parolaSifirGirisyap,
.RestaurantkayitYapGirisYapDon {
    border: none !important;
    background-color: white;
    color: rgba(44, 83, 122, 0.829);
    font-weight: bold;
}

.kayitYapGirisYapDon:hover,
.girisYapPunuttum:hover,
.girisYapKayıtol:hover,
.girisYapAnasayfa:hover,
.parolaSifirGirisyap:hover,
.RestaurantkayitYapGirisYapDon:hover {
    transition: .5s;
    color: rgba(44, 83, 122, 0.548);
}


/*HAKKIMIZDA SAYFASI CSS*/

.HakkimizdaDiv {
    width: 100% !important;
    height: 100vh !important;
}

.HakkimizdaBody {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
}

.HakkimizdaUst {
    width: 1000px;
    height: 30%;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.HakkimizdaOrta {
    width: 900px;
    height: 30%;
    margin-bottom: 100px;
    display: flex;
    justify-content: space-between;
}

.HakkimizdaOrta ul {
    list-style: outside;
}

.HakkimizdaAlt {
    height: 30%;
    margin-bottom: 30px;
}

.HakkimizdaSikcaSorularDiv {
    width: 800px !important;
    height: 450px !important;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.HakkimizdaSikcaSorularTextarea {
    width: 90% !important;
    height: 90% !important;
}

.HakkimizdaSikcaSorular {
    background-color: rgba(231, 231, 231, 0.801) !important;
}

.HakkimizdaSikcaSorular:hover {
    transition: .5s;
    background-color: rgba(231, 231, 231, 0.623) !important;
}

.HakkimizdaSikcaSorularText {
    color: rgb(0, 0, 0);
    background-color: rgba(209, 209, 209, 0.801) !important;
}

/*Iletisim CSS Sayfası*/
.IletisimDiv {
    width: 100% !important;
    height: 93vh !important;
}

.FormDiv {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 60px;
    padding-left: 50px;
}

.IletisimForm {
    width: 550px;
    height: 700px;
    display: flex;
    flex-direction: column;

}

.IletisimInput {
    width: 100%;
    margin-top: 30px !important;
}

/*ANASAYFA CSS SEKMESİ*/

.Blog {
    width: 100%;
    height: 100vh;
    background-image: url(https://tailwindui.com/img/beams-cover@95.jpg);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.BlogHeaderDiv {
    padding-top: 80px;

}



.BlogAltHeaderDiv {
    width: 90%;
    height: 200px;
    display: flex !important;
    justify-content: space-around !important;
}

.BlogAltHeaderDiv button {
    border: none !important;
    background-color: rgba(255, 255, 255, 0);
    display: flex !important;
}

.BlogAltHeaderDiv button:hover {
    transition: .5s;
    background-color: rgba(65, 120, 221, 0.226);
}

.BlogAltHeaderDiv img {
    object-fit: cover;
    object-position: 50% 15%;
    width: 200px;
    height: 200px;
}

.AltHeaderPost {
    display: flex;
    flex-direction: column;
    margin-right: 50px;
}


/*RESTAURANTLAR CSS SEKMESİ*/


.RestaurantlarDiv {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(https://tailwindui.com/img/beams-cover@95.jpg);
}

.RestaurantlarHeader {
    padding-top: 80px !important;
    color: rgba(44, 83, 122, 0.829);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.RestaurantFiltrelemeButton {
    border: none;
    background-color: rgba(44, 83, 122, 0.829);
    color: rgba(235, 235, 235, 0.767);
    width: 190px;
    height: 40px;
    font-weight: bold;
    margin-top: 30px;
}

.RestaurantFiltrelemeButton:hover {
    transition: .6s;
    background-color: rgba(44, 83, 122, 0.719);
    color: white;
}

.RestaurantlarBody {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    width: 1400px;
    height: auto;
    background-color: rgba(228, 228, 228, 0.233);
    margin-top: 50px;
    border-radius: 3px;
}

.RestaurantStateDiv {
    margin: 20px;
    padding: 15px;
    border: 2px solid rgba(44, 83, 122, 0.829);
    border-radius: 5px;
    background-color: rgba(44, 83, 122, 0.829);
    box-shadow: 4px 4px 4px rgba(139, 139, 139, 0.74);
}

.RestaurantImg {
    width: 250px;
    height: 330px;
}

.RestaurantImg img {
    width: 100%;
    height: 320px;
}

.RestaurantTitle {
    font-size: 20px;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.938);
    text-align: center;
    margin-bottom: 10px;
}

.RestaurantButton button {
    width: 100%;
    line-height: 30px;
    border: none;
    background-color: rgba(44, 83, 122, 0.829);
    color: rgba(209, 209, 209, 0.801);
    font-weight: bold;
    border-radius: 3px;
}

.RestaurantButton button:hover {
    transition: .5s;
    background-color: rgba(44, 83, 122, 0.616);
    color: rgb(255, 255, 255);
}

/*MY RESTAURANT CSS*/

.MyRestaurantDiv {
    height: 100vh;
    background-image: url(https://tailwindui.com/img/beams-cover@95.jpg) !important;
}

.MyRestaurantHeader {
    display: flex;
    justify-content: space-evenly;
}

.MyRestaurantHeader p {
    font-size: 20px;
    font-Weight: bold;
}

.MyRestaurantHeaderButton {
    border: none;
    background-color: rgba(44, 83, 122, 0.829);
    ;
    border-radius: 5px;
    padding: 10px;
}

.MyRestaurantHeaderButton:hover {
    transition: .5s;
    background-color: rgba(44, 83, 122, 0.616);
}

.MyRestaurantBody {
    width: 100%;
    height: 93vh;
    padding-top: 90px;
}

/*RESTAURANT MENU CSS*/

.RestaurantMenuDiv {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(https://tailwindui.com/img/beams-cover@95.jpg);
}
.RestaurantMenuHeader{
    padding-top: 80px !important;
}
.RestaurantMenuBody{
width: 100%;
height: 100%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

}
.RestaurantMenuInput{
    width: 350px;
    margin-top: 20px !important;
}
.RestaurantMenuFileButton{
    width: 250px !important;
    color: green;
}
.RestaurantMenuBody input[type="file"]::file-selector-button {
    margin: 15px 5px 15px 0px ;
    background-color: rgba(44, 83, 122, 0.829);
    width: 130px;
}
.RestaurantMenuBody input[type=file]::file-selector-button:hover{
    transition: .9s;
    background-color: rgba(44, 83, 122, 0.616);
    cursor: pointer;
}
.RestaurantMenuSubmitButton{
    background-color: rgba(44, 122, 70, 0.829);
    width: 130px;
}
.RestaurantMenuSubmitButton:hover{
    transition: .9s;
    background-color: rgba(44, 122, 70, 0.582);
}
/*RESTAURANT Menu STATE*/
.RestaurantMenuStateDiv{
    margin: 20px;
    padding: 15px;
    border: 2px solid rgba(44, 83, 122, 0.829);
    border-radius: 5px;
    background-color: rgba(44, 83, 122, 0.829);
    box-shadow: 4px 4px 4px rgba(139, 139, 139, 0.74);
}
.RestaurantMenuStateImg{
    width: 150px;
    height: 180px;
}
.RestaurantMenuStateImg img{
    width: 100%;
    height: 100%;
}
.RestaurantMenuStateTitle{
font-size: 20px;
font-weight: bold;

}
/*RESTAURANT VİEW CSS */

.RestaurantViewDiv {
    width: 99vw !important;
    height: 100vh !important;
    background-image: url(https://tailwindui.com/img/beams-cover@95.jpg) !important;

}

.RestaurantViewContainer {
    width: 100%;
    height: 100%;
    padding: 80px 0px 0px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.RestaurantViewHeader {
    font-size: 40px;
}

.RestaurantViewBody {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.RestaurantViewBodySol {
    margin: 10px;
    padding: 10px;
    background-color: blue;
}

.RestaurantViewBodySag {
    margin: 10px;
    padding: 10px;
    background-color: red;
}

.RestaurantViewFooter {
    display: flex;
    flex-wrap: wrap;
}

.RestaurantViewStateDiv {
    margin: 20px;
    padding: 15px;
    border: 2px solid rgba(44, 83, 122, 0.829);
    border-radius: 5px;
    background-color: rgba(44, 83, 122, 0.829);
    box-shadow: 4px 4px 4px rgba(139, 139, 139, 0.74);
}

.RestaurantViewStateImg {
    width: 150px;
    height: 180px;
}

.RestaurantViewStateImg img {
    width: 100%;
    height: 100%;
}